<a href="{% route Twitter.LoginRoute %}" class="twitter-button">
   <i class="fa fa-twitter-square"></i> {{"Continue with Twitter" | t}}
</a>
<style type="text/css">
    .twitter-button {
        margin: 20px 0;
        background: #00acee;
        color: white;
        padding: 10px;
        clear: both;
        display: inline-block;
        border-radius: 3px;
        width: 240px;
    }
    .twitter-button:hover {
        color: white;
        background: #043244;
    }
    .twitter-button .fa {
        margin-right: 10px;
    }
</style>