Payments.Stripe/obj/
Payments.Stripe/bin/
Payments.Square/obj/
Payments.Square/bin/
Payments.PaypalWithRedirect/obj/
Payments.PaypalWithRedirect/bin/
Shipping.FedEx/obj/
Shipping.Shippo/bin/
Shipping.Shippo/obj/
Shipping.UPS/obj/
Ui.Slider/obj/
Ui.SearchPlus/obj/
Authentication.Facebook/obj/
Authentication.Facebook/bin/
Authentication.Twitter/obj/
Authentication.Twitter/bin/
Authentication.Google/obj/
Authentication.Google/bin/
