<a href="{% route Facebook.LoginRoute %}" class="fb-button">
   <i class="fa fa-facebook-square"></i> {{"Continue with Facebook" | t}}
</a>
<style type="text/css">
    .fb-button {
        margin: 20px 0;
        background: #4267B2;
        color: white;
        padding: 10px;
        clear: both;
        display: inline-block;
        border-radius: 3px;
    }
    .fb-button:hover {
        color: white;
        background: #335291;
    }
    .fb-button .fa {
        margin-right: 10px;
    }
</style>