<a href="{% route Google.LoginRoute %}" class="google-button">
   <i class="fa fa-google"></i> {{"Continue with Google" | t}}
</a>
<style type="text/css">
    .google-button {
        margin: 20px 0;
        background: #df4930;
        color: white;
        padding: 10px;
        clear: both;
        display: inline-block;
        border-radius: 3px;
        width: 240px;
    }
    .google-button:hover {
        color: white;
        background: #7d291b;
    }
        .google-button .fa {
            margin-right: 10px;
        }
</style>